{% extends 'index.html' %}

{% block content %}

<div class="app-main">             
        <div class="app-main__outer" style="margin-left: -270px;">
                            <div class="app-main__inner">
                                         
                                 <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Cabecera</h5>
                                                
                                                <form action="" method="POST" >
                                                    {% csrf_token %}
                                                    
                                                        <table class="mb-0 table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th colspan="4">Datos</th>
                                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                                    <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                                </tr>
                                                                </thead>
                
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row" style="width: -10px;">Ficha</th>
                                                                    <td colspan="">{{num_ficha}}</td>
                                                                    <th scope="row">Dependencia</th>
                                                                    <td colspan="6">{{form.dependencia}}</td>
                                                               
                                                                </tr>
                                                           
                                                                    <tr>
                                                                        <th scope="row">Ambiente</th>
                                                                        <td colspan="">{{form.ambiente}}</td>
                                                                        <th scope="row">Sede</th>
                                                                        <td colspan="2">{{form.sede}}</td>
                                                                        
                                                                        <th>Piso</th>
                                                                        <td colspan="">
                                                                           {{form.piso}}
                                                                     
                                                                        </td>
                                                                     
                                                                    <tr>
                                                                           
                                                                        <th>Usuario</th>
                                                                        <td>{{form.idusuario}}</td>
                                                                        <td colspan="2"><input type="submit" value="Actualizar" class="btn btn-primary form-control"></td>
                                                                    </tr>
                                                              
                                                            </tbody>
                                                        </table>
                                      
                                                </form>
                                            </div>
                                        </div>
                                    </div>
    
      
                                </div>
    
                            
    
                            </div>
        
        </div>
    </div>
{% endblock %}
