{% extends 'index.html' %}

{% block content %}

<div class="app-main" style="font-size: 0.8em;">             
        <div class="app-main__outer"  style="margin-left: -270px;" >
                            <div class="app-main__inner">
                                         
                                 <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card" style="margin-top: -70px;">
                                            <div class="card-body"><h5 class="card-title">Cabecera</h5>
                                                <table class="mb-0 table table-bordered">
                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                    <!--input type="hidden" name="tipo" value="{{tipo}}"> 
                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"--> 
                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                    <tr >
                                                        <td colspan="7" rowspan="2"></td>
                                                        <td colspan="">
                                                            <strong>FOLIO:    {{num_ficha.num_ficha}}</strong> 
                                                            <tr>
                                                                <td><strong>FECHA:    {{num_ficha.fecha_ficha|date:"d/m/y"}}</strong></td>
                                                            </tr>
                                                           
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th>USUARIO RESPONSABLE</th>
                                                        <td colspan="3">{{num_ficha.idusuario.nom_final_usuario}}________________________________________________________________________</td>
                                                        <th>SEDE</th>
                                                        <td colspan="3">{{num_ficha.sede}}___________________________________________________________________________</td>
                                                    </tr>
                                                    <tr>
                                                        <th>DNI</th>
                                                        <td>{{num_ficha.idusuario.numero_doc_usuario}}____________________</td>
                                                        <th>MODALIDAD</th>
                                                        <td>{{num_ficha.idusuario.moda_usuario.modalidad_contratacion}}________________</td>
                                                        <th>PISO</th>
                                                        <td colspan="3">{{num_ficha.piso}}____________________________________________________________________________</td>
                                                    </tr>
                                                    <tr>
                                                        <th>DIRECCION</th>
                                                        <td colspan="3">_____________________________________________________________________________</td>
                                                        <th>CODIGO AMBIENTE</th>
                                                        <td>{{num_ficha.cod_ambiente}}_______________________________</td>
                                                        <th>AMBIENTE</th>
                                                        <td>{{num_ficha.ambiente}}_______________________________</td>                                        
                                                    </tr>
                                                    <tr>
                                             
                                                        
                                                    
                                                      
                                                        
                                                    </tr>
                                                    
                                                </table>
                                                <form method="POST" >
                                                    {% csrf_token %}
                            
                                                <table class="mb-0 table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="8">Resultado</th> <!--input type="hidden" name="codigo_interno" value="{{cod_interno}}"> <input type="hidden" value="{{codigo}}" name="codigo_sbn"--> 
                                                        <input type="hidden" name="dni" value="{{dni}}"> 
                                                        <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                        <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                        <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                    </tr>
                                                    </thead>
                                   
                                                    
                                                    
                                                     <tbody>
                                                
                                                    <tr>
                                                        <th scope="row">Codigo SBN</th>
                                                        <td colspan="2">{{codigo_sbn_base0.codigo_sbn}}</td>
                                                        <th scope="row" >Código Interno</th>
                                                        <td colspan="2">{{codigo_sbn_base0.codigo_interno}}</td>
                                                      
                                                    </tr>    
                                               <tr>
                                                  <td colspan="4"><br></td>
                                               </tr>
                                             
                                                    <tr>
                                                        <th>Descripcion</th>
                                                        <td colspan="2">
                                                            
                                                            <!--{{form.descripcion}}-->
                                                      
                                                            <input type="text" name="descripcion" value="{{cata}}" id="id_descripcion" maxlength="60" required="" class="form-control" id="disabledInput"  readonly>
                                                            <!--input type="text" name="" value="{{base0.descripcion}}" class="form-control"-->
                                                        </td>
                                                        <th>Observacion 1</th>
                                                        <td colspan="4">
                                                            {{form.observacion1}}
                                                            <!--input type="text" name="" value="{{base0.observacion1}}" class="form-control"-->
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <th>Detalle</th>
                                                        <td colspan="2">{{form.detalle}}<!--input type="text" name="" value="{{base0.detalle}}" class="form-control"--></td>
                                                        <th>Observacion 2</th>
                                                        <td colspan="4">{{form.observacion2}}<!--input type="text" name="" value="{{base0.observacion2}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Marca</th> 
                                                        <td colspan="2">
                                                                {{form.mar}}   
                                                            <!--input type="text" name="" value="{{base0.mar}}"class="form-control"--></td>
                                                        <th>Observacion 3</th>
                                                        <td colspan="4">{{form.observacion3}}  <!--input type="text" name="" value="{{base0.observacion3}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Modelo</th>
                                                        <td colspan="2">{{form.modelo}}   <!--input type="text" name="" value="{{base0.modelo}}" class="form-control"--></td>
                                                        <th>Estado</th>
                                                        <td colspan="3">{{form.est}}   <!--input type="text" name="" value="{{base0.est}}" class="form-control"--></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Serie</th>
                                                        <td colspan="2">
                                                                {{form.serie}}   
                                                            <!--input type="text" name="" value="{{base0.serie}}" class="form-control"--></td>
                                                        <th>Operatividad</th>
                                                        <td colspan="3">{{form.op}}   <!--input type="text" name="" value="{{base0.op}}" class="form-control"--></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Medida</th>
                                                        <td colspan="2">{{form.medida}}   <!--input type="text" name="" value="{{base0.medida}}" class="form-control"--></td>
                                                        <th>Placa</th>
                                                        <td colspan="3">{{form.placa}}   <!--input type="text" name="" value="{{base0.placa}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td colspan="2">{{form.col}}   <!--input type="text" name="" value="{{base0.col}}" class="form-control"--></td>
                                                        <th>Motor</th>
                                                        <td colspan="3">{{form.motor}}   <!--input type="text" name="" value="{{base0.motor}}" class="form-control"--></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="id" value="{{id}}">
                                                           
                                                        </td>
                                                    </tr>
                                                        <tr>
                                                            <input type="submit" value="Registrar" style="float: right;" class="btn btn-primary">  
                                                        </tr>
                                            
                                           
                                                    </tbody>
                                     
                                                    
                                             
                                                </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
    
      
                                </div>
    
                            
    
                            </div>
                             
        </div>
    </div>
{% endblock %}

