{% extends 'index.html' %}

{% block content %}
<div class="app-main">             
        <div class="app-main__outer">
                            <div class="app-main__inner">
                                         
                                 <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Cabecera</h5>
                                                
                                                <form action="{% url 'capture-base0'  %}">
                                                        <table class="mb-0 table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th colspan="4">Datos</th>
                                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                                    <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                                </tr>
                                                                </thead>
                
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row">Usuario</th>
                                                                    <td colspan="4">{{usu.nom_final_usuario}}</td>
                                                                    <th scope="row">Tipo de Documento</th>
                                                                    <td colspan="">{{usu.t_doc_usuario.tipo_doc}}</td>
                                                               
                                                                </tr>
                                                           
                                                                    <tr>
                                                                        <th scope="row">DNI</th>
                                                                        <td>{{usu.numero_doc_usuario}}</td>
                                                                        <th scope="row">Modalidad</th>
                                                                        <td colspan="4">{{usu.moda_usuario.modalidad_contratacion}}</td>
                                                                        
                                                                    </tr> 
                                                                    <tr>
                                                                        <th>Ambiente</th>
                                                                        <td colspan="6">
                                                                            {% if ambi %}
                                                                            <select name="ambiente" id="" class="form-control">
                                                                                {% for ambi in ambi %}
                                                                                    <option value="{{ambi.sede_ambiente}}">{{ambi}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                                
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                     <tr >
                                                        <th >Piso</th>
                                                        <td colspan="2" >
                                                           {% if pis %}
                                                            <select name="ambiente" id="" class="form-control">
                                                                {% for piso in pis %}
                                                                    <option value="{{piso}}" style="color: black;">{{piso.cod_piso}}</option>
                                                                {% endfor %}
                                                            </select>
                                                                
                                                            {% endif %}
                                                        </td>
                                                        <th>
                                                            Dependencia
                                                        </th>
                                                        <td>
                                                             {% if dep %}
                                                            <select name="ambiente" id="" class="form-control">
                                                                {% for dependencia in dep %}
                                                                    <option value="{{dependencia}}" style="color: black;">{{dependencia.nom_dirger}}</option>
                                                                {% endfor %}
                                                            </select>
                                                                
                                                            {% endif %}
                                                        </td>
                                                        <th>Sede</th>
                                                        <td colspan="1">
                                                             {% if sed %}
                                                            <select name="ambiente" id="" class="form-control">
                                                                {% for sede in sed %}
                                                                    <option value="{{sede}}" style="color: black;">{{sede}}</option>
                                                                {% endfor %}
                                                            </select>
                                                                
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                            </tbody>
                                                        </table>
                                                <table class="mb-0 table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="8">Resultado</th> <!--input type="hidden" name="codigo_interno" value="{{cod_interno}}"> <input type="hidden" value="{{codigo}}" name="codigo_sbn"--> 
                                                        <input type="hidden" name="dni" value="{{dni}}"> 
                                                        <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                        <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                        <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                    </tr>
                                                    </thead>
                                                    {% if codigo_sbn_base0 %}
                                                    {% for base0 in codigo_sbn_base0 %} 
                                                    
                                                    
                                                     <tbody>
                                                           
                                                        <tr>
                                                            <td colspan="4"></td>
                                                            <td>
                                                                <div class="col-12">
                                                                    <input type="text" id="codigo_conformidad" name="codigo_conformidad" placeholder="Código 2019" class="form-control">
                                                                </div>
                                                                <script type="text/javascript">
                                                                    document.getElementById('codigo_conformidad').focus()
                                                                </script>
                                                            </td>
                                                            <td>
                                                                <input type="submit" value="Actulizar / Registrar" style="float: right;" class="btn btn-primary form-control"> 
                                                            </td>
                                                                        
                                                        </tr>
                                                
                                                    <tr>
                                                        <th scope="row">Codigo SBN</th>
                                                        <td colspan="2">{{base0.codigo_sbn}}</td>
                                                        <th scope="row" >Código Interno</th>
                                                        <td colspan="2">{{base0.codigo_interno}}</td>
                                                      
                                                    </tr>    
                                               <tr>
                                                  <td colspan="4"><br></td>
                                               </tr>
                                             
                                                    <tr>
                                                        <th>Descripcion</th>
                                                        <td colspan="2">
                                                            {{form.descripcion}}
                                                            <!--input type="text" name="" value="{{base0.descripcion}}" class="form-control"-->
                                                        </td>
                                                        <th>Observacion 1</th>
                                                        <td colspan="4">
                                                            {{form.observacion1}}
                                                            <!--input type="text" name="" value="{{base0.observacion1}}" class="form-control"-->
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <th>Detalle</th>
                                                        <td colspan="2">{{form.detalle}}<!--input type="text" name="" value="{{base0.detalle}}" class="form-control"--></td>
                                                        <th>Observacion 2</th>
                                                        <td colspan="4">{{form.observacion2}}<!--input type="text" name="" value="{{base0.observacion2}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Marca</th> 
                                                        <td colspan="2">
                                                                {{form.mar}}   
                                                            <!--input type="text" name="" value="{{base0.mar}}"class="form-control"--></td>
                                                        <th>Observacion 3</th>
                                                        <td colspan="4">{{form.observacion3}}  <!--input type="text" name="" value="{{base0.observacion3}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Modelo</th>
                                                        <td colspan="2">{{form.modelo}}   <!--input type="text" name="" value="{{base0.modelo}}" class="form-control"--></td>
                                                        <th>Estado</th>
                                                        <td colspan="3">{{form.est}}   <!--input type="text" name="" value="{{base0.est}}" class="form-control"--></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Serie</th>
                                                        <td colspan="2">
                                                                {{form.serie}}   
                                                            <!--input type="text" name="" value="{{base0.serie}}" class="form-control"--></td>
                                                        <th>Uso</th>
                                                        <td colspan="3">{{form.op}}   <!--input type="text" name="" value="{{base0.op}}" class="form-control"--></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Medida</th>
                                                        <td colspan="2">{{form.medida}}   <!--input type="text" name="" value="{{base0.medida}}" class="form-control"--></td>
                                                        <th>Placa</th>
                                                        <td colspan="3">{{form.placa}}   <!--input type="text" name="" value="{{base0.placa}}" class="form-control"--></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td colspan="2">{{form.col}}   <!--input type="text" name="" value="{{base0.col}}" class="form-control"--></td>
                                                        <th>Motor</th>
                                                        <td colspan="3">{{form.motor}}   <!--input type="text" name="" value="{{base0.motor}}" class="form-control"--></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="id" value="{{base0.id}}">
                                                            <input type="hidden" name="ficha" value="{{ficha}}">
                                                        </td>
                                                    </tr>
                                                    <td>

                                                    </td>
                                               
                                            
                                           
                                                    </tbody>
                                                    {% endfor %}
                                                    {% endif %}

                                              
                                                     
                                                    
                                             
                                                </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
    
      
                                </div>
    
                            
    
                            </div>
                            <div class="app-wrapper-footer">
                                <div class="app-footer">
                                    <div class="app-footer__inner">
                                        <div class="app-footer-left">
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        Footer Link 1
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        Footer Link 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="app-footer-right">
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        Footer Link 3
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <div class="badge badge-success mr-1 ml-0">
                                                            <small>NEW</small>
                                                        </div>
                                                        Footer Link 4
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>    
        </div>
    </div>
{% endblock %}
