{% extends 'index.html' %}

{% block content %}
<div class="app-main" style="font-size: 0.8em;">             
        <div class="app-main__outer" style="margin-left: -270px;">
                            <div class="app-main__inner">
                                         
                                 <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card" style="margin-top: -40px;">
                                            <div class="card-body"><h5 class="card-title">Cabecera</h5>
                                                <table class="mb-0 table table-bordered">
                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                    <!--input type="hidden" name="tipo" value="{{tipo}}"> 
                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"--> 
                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                    <tr >
                                                        <td colspan="7" rowspan="2"></td>
                                                        <td colspan="">
                                                            <strong>FOLIO:    {{num_ficha.num_ficha}}</strong> 
                                                            <tr>
                                                                <td><strong>FECHA:    {{num_ficha.fecha_ficha|date:"d/m/y"}}</strong></td>
                                                            </tr>
                                                           
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th>USUARIO RESPONSABLE</th>
                                                        <td colspan="3">{{num_ficha.idusuario.nom_final_usuario}}</td>
                                                        <th>SEDE</th>
                                                        <td colspan="3">{{num_ficha.sede}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>DNI</th>
                                                        <td>{{num_ficha.dni_ficha}}</td>
                                                        <th>MODALIDAD</th>
                                                        <td>{{num_ficha.modalidad_ficha}}</td>
                                                        <th>PISO</th>
                                                        <td colspan="3">{{num_ficha.piso}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>DIRECCION</th>
                                                        <td colspan="3"></td>
                                                        <th>CODIGO AMBIENTE</th>
                                                        <td>{{num_ficha.cod_ambiente}}</td>
                                                        <th>AMBIENTE</th>
                                                        <td>{{num_ficha.ambiente}}</td>                                        
                                                    </tr>
                                                  
                                                </table>
                                                
                                                <form action="{% url 'capture-base0'  %}">
                                                       
                                                               
                                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                                    <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                               
                                                     
                                                                    <hr color="black"><br>
                                                <table class="mb-0 table "  border="1">
                                                    <thead>
                                                        <input type="hidden" name="dni" value="{{dni}}"> 
                                                        <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                        <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                        <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                    <tr>
                                                        <th colspan="12">Datos del Nuevo Bien 2019
                                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success" style="color: white;float:right; ">
                                                                <i class="nav-link-icon fa fa-edit"> </i>
                                                                Registrar Nuevo Bien
                                                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                                            </a>
                                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" style="width: 10%; float: right; margin-left: 100px;" >
                                                                <form class="needs-validation" id="search" novalidate action="{% url 'standby-catalogo' %}" style="margin-left: 80px;">    
                                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                                        <input type="hidden" name="nombres" value="{{num_ficha.idusuario.nom_final_usuario}}"> 
                                                                        {% if estado == True %}{{ficha}}{% endif %}
                                                                        <input type="hidden" name="ficha" value="{{num_ficha.num_ficha}}">    
                                                                    <input type="hidden" value="{{cod_sbn_cat}}" name="codigo_sbn">             
                                                                    
                                                                    <div class="form-row" style="width: 100%; margin-left: 40px;">
                                                                        <span><strong>Obligatorio (*)</strong></span>
                                                                                <div class="col-md-8 mb-3">
                                                                                    <label for="validationCustom01">Código 2019 (*)</label>
                                                                                    <input type="text" id="codigo_conformidad" name="codigo_conformidad" placeholder="Código 2019" class="form-control" maxlength="5" minlength="5" required>
                                                                                    <hr><input type="submit" value="Listo" style="float: right;" class="btn btn-primary form-control">                                                                                
                                                                                       
                                                                                        <div class="valid-feedback">
                                                                                        Bien!
                                                                                    </div>
                                                                                </div>
                                                                                <script type="text/javascript">
                                                                                    $(document).ready(function() {
                                                                                        $("form").keypress(function(e) {
                                                                                            if (e.which == 13) {
                                                                                                return false;
                                                                                            }
                                                                                        });
                                                                                    });
                                                                                    </script>
                                                                            </div>
                                                                        </form>
                                                                    </div>

                                                        </th> <!--input type="hidden" name="codigo_interno" value="{{cod_interno}}"> <input type="hidden" value="{{codigo}}" name="codigo_sbn"--> 
                                                     
                                                    </tr>
                                                    </thead>
                                                    {% if codigo_sbn_base0 %}
                                                    {% for base0 in codigo_sbn_base0 %} 
                                                    
                                                    
                                                     <tbody>
                                                           
                                                        <!--tr>
                                                            <td colspan="4"></td>
                                                            <td>
                                                                <div class="col-12">
                                                                    <input type="text" id="codigo_conformidad" name="codigo_conformidad" placeholder="Código 2019" class="form-control" maxlength="5" minlength="5" required>
                                                                </div>
                                                                <script type="text/javascript">
                                                                    document.getElementById('codigo_conformidad').focus()
                                                                </script>
                                                            </td>
                                                            <td>
                                                                <input type="submit" value="Actulizar / Registrar" style="float: right;" class="btn btn-primary form-control"> 
                                                            </td>
                                                                        
                                                        </tr-->
                                                
                                                    <tr>
                                                        <th scope="row">Codigo SBN</th>
                                                        <td colspan="" >{{base0.codigo_sbn}}</td>
                                                        <th scope="row" >Código Interno</th>
                                                        <td colspan="">{{base0.codigo_interno}}</td>
                                                        
                                                        <th>Detalle</th>
                                                        <td colspan="">{{form.detalle}}</td>
                                                        <th>Marca</th> 
                                                        <td colspan="2">
                                                                {{form.mar}}   
                                                        </td>
                                                        <th>Modelo</th>
                                                        <td colspan="2">{{form.modelo}} </td>
                                                    </tr>    
                                             
                                             
                                                    <tr>

                                                        <th>Descripcion</th>
                                                        <td colspan="5">
                                                            {{form.descripcion}}
                                                
                                                        </td>
                                                        <th>Estado</th>
                                                        <td colspan="2">{{form.est}}</td>
                                                        <th>Serie</th>
                                                        <td colspan="2">
                                                                {{form.serie}}   
                                                          </td>
                                                    </tr>
                                                     <tr>
                                                        <th>Uso</th>
                                                        <td colspan="">{{form.op}}   </td>
                                                        <th>Medida</th>
                                                        <td colspan="">{{form.medida}} </td>
                                                        <th>Color</th>
                                                        <td colspan="">{{form.col}}   </td>
                                                        <th>Observacion</th>
                                                        <td colspan="4">{{form.observacion1}}<!--input type="text" name="" value="{{base0.observacion2}}" class="form-control"--></td>

                                                    </tr>
                                                   

                                                    <input type="hidden" name="id" value="{{base0.id}}">
                                                    <input type="hidden" name="ficha" value="{{ficha}}">
                                                    </tbody>
                                                    {% endfor %}
                                                    {% endif %}

                                              
                                                     
                                                    
                                             
                                                </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
    
      
                                </div>
    
                            
    
                            </div>
                         
        </div>
    </div>
{% endblock %}
