{% extends 'index.html' %}

{% block content %}

<div class="app-main" style="font-size: 0.8em;">             
        <div class="app-main__outer" style="margin-left: -270px;">
                            <div class="app-main__inner">
                                         
                                 <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card"  style="margin-top: -40px;">
                                            <div class="card-body"><h5 class="card-title">Cabecera</h5>
                                                
                                                <form action="{% url 'update-one' %}" >
                                                    
                                                        <table class="mb-0 table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                
                                                                    <input type="hidden" name="dni" value="{{dni}}"> 
                                                                    <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                                    <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                                    <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                                    <input type="hidden" name="usuario" value="{{usu}}">
                                                                </tr>
                                                                </thead>
                
                                                                <tbody>
                                                                <tr >
                                                                    <td colspan="7" rowspan="2"></td>
                                                                    <td colspan="">
                                                                        <strong>FOLIO:    {{num_ficha.num_ficha}}</strong> 
                                                                        <tr>
                                                                            <td><strong>FECHA:    {{num_ficha.fecha_ficha|date:"d/m/y"}}</strong></td>
                                                                        </tr>
                                                                       
                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <th>USUARIO RESPONSABLE</th>
                                                                    <td colspan="3">{{num_ficha.idusuario.nom_final_usuario}}</td>
                                                                    <th>SEDE</th>
                                                                    <td colspan="3">{{num_ficha.sede}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>DNI</th>
                                                                    <td>{{num_ficha.idusuario.numero_doc_usuario}}</td>
                                                                    <th>MODALIDAD</th>
                                                                    <td>{{num_ficha.idusuario.moda_usuario.modalidad_contratacion}}</td>
                                                                    <th>PISO</th>
                                                                    <td colspan="3">{{num_ficha.piso}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>DIRECCION</th>
                                                                    <td colspan="3"></td>
                                                                    <th>CODIGO AMBIENTE</th>
                                                                    <td>{{num_ficha.cod_ambiente}}</td>
                                                                    <th>AMBIENTE</th>
                                                                    <td>{{num_ficha.ambiente}}</td>                                        
                                                                </tr>
                                                              
                                                            </tbody>
                                                        </table>

                                                        <hr color="black">

                                                        <table class="mb-0 table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="10">Datos del Bien Registrado</th> <!--input type="hidden" name="codigo_interno" value="{{cod_interno}}"> <input type="hidden" value="{{codigo}}" name="codigo_sbn"--> 
                                                        <input type="hidden" name="dni" value="{{dni}}"> 
                                                        <input type="hidden" name="nombre" value="{{nombre}}"> 
                                                        <input type="hidden" name="tipo" value="{{tipo}}"> 
                                                        <input type="hidden" name="modalidad" value="{{modalidad}}"> 
                                                    </tr>
                                                    </thead>
                                   
                                                    
                                                    
                                                     <tbody>
                                                        <tr>
                                                            <th>Descripcion</th>
                                                            <td colspan="">
                                                                
                                                                {{form.descripcion}}
                                                          
                                                                <!--input type="text" name="descripcion" value="{{cata}}" id="id_descripcion" maxlength="60"  class="form-control" id="disabledInput" -->
                                                                <!--input type="text" name="" value="{{base0.descripcion}}" class="form-control"-->
                                                            </td>
                                                          
                                                               
                                                            </td>
                                                            <th>Marca</th> 
                                                            <td colspan="">
                                                                    {{form.mar}}   
                                                            </td>
                                                            <th>Modelo</th>
                                                            <td colspan="">{{form.modelo}} </td>
                                                            <th>Serie</th>
                                                            <td colspan="">
                                                                    {{form.serie}}   
                                                              </td>
                                                              <th>Medida</th>
                                                              <td colspan="">{{form.medida}} </td>
                                                        </tr>
    
                                                        <tr>
                                                        
                                                            <th>Operatividad</th>
                                                            <td colspan="">{{form.op}}   </td>
                                                            <th>Estado</th>
                                                            <td colspan="">{{form.est}} </td>
                                                       
                                                            <th>Color</th>
                                                            <td colspan="">{{form.col}}  </td>
                                                            <th>Observacion</th>
                                                            <td colspan="2">{{form.observacion1}}</td>
                                                            <input type="hidden" name="id" value="{{id}}">
                                                            <td> <button type="submit"  style="float: right;" class="btn btn-secondary form-control">Actualizar</button>  </td>
                                                           
                                                        </tr>
                                                       
                                             
                                             
                                                    <!--tr>
                                                        <th>Descripcion</th>
                                                        <td colspan="2">
                                                            {{form.descripcion}}
                                                           
                                                        </td>
                                                        <th>Observacion 1</th>
                                                        <td colspan="4">
                                                            {{form.observacion1}}
                                                          
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <th>Detalle</th>
                                                        <td colspan="2">{{form.detalle}}/td>
                                                        <th>Observacion 2</th>
                                                        <td colspan="4">{{form.observacion2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Marca</th> 
                                                        <td colspan="2">
                                                                {{form.mar}}   
                                                            </td>
                                                        <th>Observacion 3</th>
                                                        <td colspan="4">{{form.observacion3}}  </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Modelo</th>
                                                        <td colspan="2">{{form.modelo}}</td>
                                                        <th>Estado</th>
                                                        <td colspan="3">{{form.est}}  </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Serie</th>
                                                        <td colspan="2">
                                                                {{form.serie}}   
                                                      /td>
                                                        <th>Operatividad</th>
                                                        <td colspan="3">{{form.op}}  </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th>Medida</th>
                                                        <td colspan="2">{{form.medida}}   </td>
                                                        <th>Placa</th>
                                                        <td colspan="3">{{form.placa}} </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td colspan="2">{{form.col}}  </td>
                                                        <th>Motor</th>
                                                        <td colspan="3">{{form.motor}} </td>
                                                    </tr-->

                                                    <!--tr>
                                                        <td>
                                                            <input type="hidden" name="id" value="{{id}}">
                                                           
                                                        </td>
                                                    </tr>
                                                        <tr>
                                                            <input type="submit" value="Actulizar" style="float: right;" class="btn btn-primary">  
                                                        </tr-->
                                            
                                           
                                                    </tbody>
                                     
                                                    
                                             
                                                </table>
                                                </form>
                                                <script type="text/javascript">
                                                    $(document).ready(function() {
                                                        $("form").keypress(function(e) {
                                                            if (e.which == 13) {
                                                                return false;
                                                            }
                                                        });
                                                    });
                                                    </script>
                                            </div>
                                        </div>
                                    </div>
    
      
                                </div>
    
                            
    
                            </div>
                           
        </div>
    </div>
{% endblock %}
